{% extends 'base.html.twig' %}

{% block title %}All our books{% endblock %}

{% block body %}
<header class="page-header">
<h2 class="page-title">All our books</h2>

<main class="page-content">
... liste des livres ...
</main>
{% endblock %}
